@import "src/styles/scss/_variables";

.card {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__content{
    &--content {
        width: 500px;
        height: 248px;
        width: 568px;
        background-color: $white-color;
        direction: rtl;
        border-radius: 6px;
        border: solid 0.5px $seperator-color;
        margin-bottom: 20px;
    }
    
        &--header {
            position: relative;
        }
    
        &--img-parent {
            width: inherit;
            overflow: hidden;
            position: relative;
            height: 134px;
            max-height: 100%;
    
            & img {
                max-height: 100%;
                width: 100%;
            }
        }
}
}



.best-coupon-title {
    position: absolute;
    top: 10px;
    color: $primary-green;
    background-color: $white-color;
    max-width: 50%;
    padding: 5px;
    border-radius: 15px 0px 0px 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo-parent {
    position: absolute;
    overflow: hidden;
    bottom: -16px;
    right: 8px;
    width: 64px;
    height: 64px;
    padding: 4px;
    border-radius: 8px;
    background-color: $white-color;
    & img {
        max-width: 100px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 16px 8px 16px;
    height: 110px;
    direction: rtl;
}

.title-holder {
    margin-bottom: 10px;
}

.title-item-grid {
    width: 50%;
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
}

.title-item {
    font-size: $text-medium;
    font-weight: $font-bold;
    color: $text-color;
    margin: 0;
    margin-left: 4px;
    line-height: 1.5;
}

.discount-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discount-measure {
    color: $white-color;
    background-color: $primary-color;
    border-radius: 20%;
    padding: 10%;
    & span {
        font-size: $text-small;
        font-weight: $font-regular;
        color: $white-color;
        margin-left: 1px;
    }
}
