$primary-green: #22a958;
$white-color: #fff;
$text-medium: 14px;
$font-bold: 600;
$font-medium: 500;
$font-regular: 400;
$primary-color: #ff00a4;
$text-small: 12px;
$seperator-color: #e6e6e6;
$text-color: #404040;









